<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Go To Login Page</button>
</form>
<body>

<div class="container">
    <form th:action="@{/change-password}" th:object="${user}" method="POST" class="form-signin">
        <br>
        <h3 class="form-signin-heading" th:text="'Please enter new password'"></h3>
        <br/>
        <input type="hidden" id="email" name="email" th:field="*{email}"
               class="form-control"/> <br/>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="password" th:field="*{password}"
                       placeholder="Password" class="form-control"/> <label
                    th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                    class="validation-message"></label>
                <input type="password" th:field="*{confirmPassword}"
                       placeholder="Confirm Password" class="form-control"/> <label
                    th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                    class="validation-message"></label>
                <p th:text="${message}"></p>
            </div>
        </div>
        <button class="btn btn-secondary" name="Submit" value="Recover" type="Submit"
                th:text="'Set new password'"></button>
    </form>
</div>
</body>
</html>