<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>
<form th:action="@{/}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Go To Login page</button>
</form>
<div class="container">
    <br><br>
    <form actiom="#" th:action="@{/reset-password}" th:object="${user}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="'Please enter your email, a password reset token will be sent'"></h3>
        <br/>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" id="email" name="email" th:placeholder="Email"
                    class="form-control"/> <br/>
            </div>
            <div class="col-sm-9">
                <span th:text="${errormsg}"></span>
            </div>
        </div>
        <div class="g-recaptcha col-sm-5"
             th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-secondary" value="0">Reset password</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>