<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<div class="container pt-3">
    <h2>Add order</h2>
    <form action="/action_page.php" th:action="@{/dispatcher/order/save}" th:object="${order}" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="weight">Weight:</label>
                    <input type="number" class="form-control" id="weight" name="weight" th:field="*{weight}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="height">Height:</label>
                    <input type="number" class="form-control" id="height" name="height" th:field="*{height}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="width">Width:</label>
                    <input type="number" class="form-control" id="width" name="width" th:field="*{width}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="length">Length:</label>
                    <input type="number" class="form-control" id="length" name="length" th:field="*{length}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="originLocation">Origin location:</label>
                    <input type="text" class="form-control" id="originLocation" name="originLocation" th:field="*{originLocation}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="origin_longitude">Origin longitude:</label>
                    <input type="number" step=0.001 class="form-control" id="origin_longitude" name="origin_longitude" th:field="*{origin_longitude}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="origin_latitude">Origin latitude:</label>
                    <input type="number" step=0.001 class="form-control" id="origin_latitude" name="origin_latitude" th:field="*{origin_latitude}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="destination">Destination:</label>
                    <input type="text" class="form-control" id="destination" name="destination" th:field="*{destination}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="destination_longitude">Destination longitude:</label>
                    <input type="number" step=0.001 class="form-control" id="destination_longitude" name="destination_longitude" th:field="*{destination_longitude}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="destination_latitude">Destination latitude:</label>
                    <input type="number" step=0.001 class="form-control" id="destination_latitude" name="destination_latitude" th:field="*{destination_latitude}">
                </div>
            </div>
        </div>
        <input type="hidden" th:name="orderState" th:value="1"/></input>
        <button type="submit" class="btn btn-dark" value="0">Submit</button>
    </form>
    <br>
    <a class="btn btn-secondary" href="#" th:href="@{/dispatcher/order/all}"> All orders </a>
</div>
</html>