<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Filter orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>

<div class="container pt-3">
    <h2>Filter orders</h2>
    <form th:action="@{/dispatcher/order/filtered}" method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input type="number" class="form-control" id="id" th:value="${id}" name="id"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="minWeight">Minimum weight:</label>
                    <input type="number" class="form-control" id="minWeight" th:value="${minWeight}" name="minWeight"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxWeight">Maximum weight:</label>
                    <input type="number" class="form-control" id="maxWeight" th:value="${maxWeight}" name="maxWeight">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="minHeight">Minimum height:</label>
                    <input type="number" class="form-control" id="minHeight" th:value="${minHeight}" name="minHeight"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxHeight">Maximum height:</label>
                    <input type="number" class="form-control" id="maxHeight" th:value="${maxHeight}" name="maxHeight"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="minWidth">Minimum width:</label>
                    <input type="number" class="form-control" id="minWidth" th:value="${minWidth}" name="minWidth"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxWeight">Maximum width:</label>
                    <input type="number" class="form-control" id="maxWidth" th:value="${maxWidth}" name="maxWidth"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="minLength">Minimum length:</label>
                    <input type="number" class="form-control" id="minLength" th:value="${minLength}" name="minLength"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="maxLength">Maximum length:</label>
                    <input type="number" class="form-control" id="maxLength" th:value="${maxLength}" name="maxLength"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="origin">Origin location:</label>
                    <input type="text" class="form-control" id="origin" th:value="${origin}" name="origin"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dest">Destination:</label>
                    <input type="text" class="form-control" id="dest" th:value="${dest}" name="dest"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label> Current state: </label>
                    <select name="state" id="state">
                        <option th:value="1" th:text="None"></option>
                        <option th:value="2" th:text="Accepted"></option>
                        <option th:value="3" th:text="'In transit'"></option>
                        <option th:value="4" th:text="Delivered"></option>
                        <option th:value="5" th:text="Failed"></option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" value="0">Filter</button>
    </form>
    <br>
    <a class="btn btn-secondary" href="#" th:href="@{/dispatcher/order/all}"> All orders </a>
</div>
</html>