<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
<div class="container pt-3">
    <span th:utext="${userName}"></span><br>
    <span th:utext="${userMessage}"></span><br>
    <br>
    <a class="btn btn-dark" href="#" th:href="@{/courier/order/all}"> View all orders </a> <br>
    <br>
    <a class="btn btn-secondary" href="#" th:href="@{/reset-password}"> Reset password </a>
</div>
</body>
</html>