<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>All orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
    <div class="container pt-3">
        <h2>All orders</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Width</th>
                    <th>Length</th>
                    <th>Origin location</th>
                    <th>Destination</th>
                    <th>Current state</th>
                    <th>Update</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td><span th:text="${order.orderId}">Order ID</span></td>
                    <td><span th:text="${order.weight}">Weight</span></td>
                    <td><span th:text="${order.height}">Height</span></td>
                    <td><span th:text="${order.width}">Width</span></td>
                    <td><span th:text="${order.length}">Length</span></td>
                    <td><span th:text="${order.originLocation}">Origin location</span></td>
                    <td><span th:text="${order.destination}">Destination</span></td>
                    <td><span th:text="${order.orderState.state}">Current state</span></td>
                    <td><a  class="btn btn-secondary" href="#" th:href="@{/courier/order/update/{id}/(id=${order.orderId})}">Update</a></td>
                    <td><a  class="btn btn-secondary" href="#" th:href="@{/comment/view/{id}/(id=${order.orderId})}">Comments</a></td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-6">
            <a class="btn btn-secondary" href="#" th:href="@{/courier/courierHome}"> Home </a><br><br>
        </div> </br>
    </div>
</body>
</html>