<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update order</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/gMaps.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
<div class="container pt-3">
    <div class="form-group">
        <h2>Update order</h2>
        <p><b> ID: </b> <span th:text="${order.orderId}"> </span> </p>

        <p><b> Weight: </b> <span th:text="${order.weight}"> </span> </p>

        <p><b> Height: </b> <span th:text="${order.height}"> </span> </p>

        <p><b> Length: </b> <span th:text="${order.length}"> </span> </p>

        <p><b> Origin location: </b> <span th:text="${order.originLocation}"> </span> </p>

        <p><b> Latitude: </b> <span th:text="${order.origin_latitude}"> </span>
            <b> Longitude: </b> <span th:text="${order.origin_longitude}"> </span>
        </p>

        <p><b> Destination: </b> <span th:text="${order.destination}"> </span> </p>

        <p><b> Latitude: </b> <span th:text="${order.destination_latitude}"> </span>
            <b> Longitude: </b> <span th:text="${order.destination_longitude}"> </span>
        </p>


        <div>
              <form class="form-group" autocomplete="off" action="#" th:action="@{/courier/order/update/{id}(id=${order.orderId})}" id="orderForm" method="post">
                    <label> Current state: </label>
                    <input type="hidden" th:name="id" th:value="${order.orderId}"/></input>
                    <select name="orderState" id="orderState">
                        <option th:value="1" th:text="None"></option>
                        <option th:value="2" th:text="Accepted"></option>
                        <option th:value="3" th:text="'In transit'"></option>
                        <option th:value="4" th:text="Delivered"></option>
                        <option th:value="5" th:text="Failed"></option>
                    </select>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-secondary" name="update">Update order</button>
                        <button type="cancel" class="btn btn-secondary" name="cancel">Cancel</button>
                    </div>
              </form>
        </div>
        </form>
        <div id="map"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var startLat = /*[[${order.origin_latitude}]]*/ '0';
            var startLng = /*[[${order.origin_longitude}]]*/ '0';
            var endLat = /*[[${order.destination_latitude}]]*/ '0';
            var endLng = /*[[${order.destination_longitude}]]*/ '0';
            /*]]>*/
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: startLat, lng: startLng},
                    zoom: 8
                });

                var markerOrigin = new google.maps.Marker({
                    position: {lat: startLat, lng: startLng},
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/kml/paddle/1.png',
                    title: 'Origin'
                });

                var markerDestination = new google.maps.Marker({
                    position: {lat: endLat, lng: endLng},
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/kml/paddle/2.png',
                    title: 'Destination'
                });
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXfivfQxtgJCTIGctXG0KzD5NZ3MlaeUA&callback=initMap"
                async defer></script>
    </div>
</div>
</body>
</html>