<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
<div class="container">
    <br>
    <form th:action="@{/admin/adminHome}" method="get">
        <button class="btn btn-md btn-secondary btn-block" type="Submit">Home</button>
    </form>
    <br>
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Email</span></th>
                    <th><span>Role</span></th>
                    <th><span>Name</span></th>
                    <th><span>Last Name</span></th>
                    <th><span>Active</span></th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${users.empty}">
                    <td colspan="2"> No Users Available</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getActive()}"></td>
                    <td><a th:href="@{/admin/findUserById(id=${user.getId()})}" class="editButton">Edit</a></td>
                    <td><a th:href="@{/admin/delete-user(id=${user.getId()})}" class="deleteButton">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-lg btn-secondary btn-block addButton">Add a new user</button>
        <br>
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center font-weight-medium">
                <li class="page-item" th:each="i : ${pageNumbers}" th:classappend="${i eq currentPage} ? 'active'">
                    <a class="page-link"
                       th:href="@{/admin/user-list(page=${i})}" th:text=${i}>1</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="userForm">
        <form th:action="@{/admin/save-user}" method="post" th:object="${user}">
            <div class="modal fade" id="userAddModal" tabindex="-1" role="dialog" aria-labelledby="userAddModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userAddModalLabel">Add user</h5>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="userForm" class="needs-validation">
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="name" name="name" th:field="*{name}" placeholder="Name"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                                               placeholder="Last Name" required class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="email" name="email" th:field="*{email}"
                                               placeholder="Email" required
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="password" id="password" name="password" th:field="*{password}"
                                               required minlength="5"
                                               placeholder="Password" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <label>Select user role</label>
                                        <select name="role">
                                            <option th:value="'COURIER'" th:text="Courier"></option>
                                            <option th:value="'DISPATCHER'" th:text="Dispatcher"></option>
                                            <option th:value="'ADMIN'" th:text="Admin"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
                            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="userForm2">
        <form th:action="@{/admin/edit-user}" method="post" th:object="${user}">
            <div class="modal fade" id="userEditModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="useEditModalLabel">Edit user</h5>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="userForm2" class="needs-validation">
                                <div class="form-group">
                                    <div class="col">
                                        <input type="hidden" id="id" name="id" th:field="*{id}" placeholder="id"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="name2" name="name" th:field="*{name}" placeholder="Name"
                                               class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="lastName2" name="lastName" th:field="*{lastName}"
                                               placeholder="Last Name" required class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="text" id="email2" name="email" th:field="*{email}"
                                               placeholder="Email" required
                                               class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <input type="password" id="password2" name="password" th:field="*{password}"
                                               required minlength="5"
                                               placeholder="Password" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <label>Select user role</label>
                                        <select name="role" id="role">
                                            <option th:value="'COURIER'" th:text="Courier"></option>
                                            <option th:value="'DISPATCHER'" th:text="Dispatcher"></option>
                                            <option th:value="'ADMIN'" th:text="Admin"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
                            <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="userDeleteModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-danger">
                    <p>
                        Are you sure you want to delete this user?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>