<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
<div class="container pt-3">
    <div class="row">
        <form action="#" th:action="@{/comment/save/{id}/(id=${order.orderId})}" th:object="${comment}" method="post">
            <label> Please enter a comment: </label>
            <input type="hidden" th:name="id" th:value="${order.orderId}"/></input>
            <textarea class="form-control" cols="80" rows="5" id="comment" th:field="*{message}"></textarea>
            </br>
            <button type="submit" class="btn btn-dark" value="0">Submit</button>
        </form>
    </div>
    </br>
    <a  class="btn btn-secondary" href="#" th:href="@{/comment/view/{id}/(id=${order.orderId})}"> Back </a>
</div>
</body>
</html>