<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<form th:action="@{/logout}" method="get">
    <button class="btn btn-md btn-secondary btn-block" type="Submit">Logout</button>
</form>
<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col-8">
                <th:block th:each="comment : ${comments}">
                    <div class="card card-white post">
                        <div class="post-description">
                            <b th:text="${comment.author}"></b>
                            <p th:text="${comment.message}"></p>
                        </div>
                    </div></br>
                </th:block>
            </div>
        </div>
        </br></br>
        <td><a  class="btn btn-secondary" href="#" th:href="@{/comment/add/{id}/(id=${order.orderId})}">Add comment</a></td>
        </br></br>
        <div th:switch="${role}">
            <p th:case="'COURIER'"><a class="btn btn-secondary" href="#" th:href="@{/courier/order/all}"> Back </a><br><br></p>
            <p th:case="'DISPATCHER'"><a class="btn btn-secondary" href="#" th:href="@{/dispatcher/order/all}"> Back </a><br><br></p>
            <p th:case="*"></p>
        </div>
    </div>
</body>
</html>